**/.DS_Store
**.log
**stop_times.txt
development/
.idea/
.ipynb_checkpoints/
__pycache__
.vscode/

*/bk_bus
*/bus_company
*/bx_bus
*/LIRR
*/metro_north
*/mn_bus
*/nyc_subway
*/qn_bus
*/si_bus
*/StationEntrances.csv